*.aux
*.log
*.toc
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.bbl
*.blg

mytemplate/*.aux
mytemplate/*.log


.DS_Store
Thumbs.db
.vscode/

Mas-colell, Whinston, Green - 1995 - Oxford University Press.pdf
MWG_solution.pdf